.App {
  text-align: center;
}

.navbar {
  background-color: rgb(113, 14, 138);
  padding-bottom: 10px;
  height: 200px;
  font-size: calc(6px + 2vmin);
}
a {
  color: white;
  padding: 10px;
  margin: auto;
}


.homepage {
  padding-top: 50px;
  background-color: rgb(211, 23, 201);
  color: white;
}
.testimonials {
  margin: 50px;
  padding: 5%;
}

.h2-book-session {
  color: black;
}

/* Logo Animation rotate effect: */
.rotate {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#App-logo {
  width: 170px;
  height: 170px;
  display: "inline";
  position: relative;
  margin-left: 20px;
  padding: 5px;
  border-radius: 10%;
  animation: rotation 8s infinite linear; 
}

